*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: #f3f3f3;
}
header{
    width: 100vw;
    height: 60px;
    background-color: #171717;
}
header h1{
    color: #f3f3f3;
    font-size: 28px;
    font-weight: 900;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
}
main .sort-options{
    display: flex;
    justify-content: space-between;
}